
<section id="inputtype_${id}" class="capa_inputtype textline" >
  <!--div class="script_placeholder" 
       data-src="http://ajax.googleapis.com/ajax/libs/dojo/1.9.1/dojo/dojo.js"/-->
  <!--div class="script_placeholder" data-src="${STATIC_URL}fu.js"/-->
  <div class="script_placeholder" data-src="${STATIC_URL}js/jsdraw-3.1.2.js"/>
  <input type="hidden" name="input_${id}" id="input_${id}" 
         aria-describedby="answer_${id}" value="${value|h}" />
  <div class='JSDraw' skin="w8" id="jsdraw_${id}"
       style="width: 660px; height: 300px;border:1px solid gray" 
       ondatachange="molchange"></div>
  <p class="status" aria-describedby="input_${id}">
    % if status == 'unsubmitted':
    unanswered
    % elif status == 'correct':
    correct
    % elif status == 'incorrect':
    incorrect
    % elif status == 'incomplete':
    incomplete
    % endif
  </p>

  <p id="answer_${id}" class="answer"></p>

  % if msg:
      <span class="message">${msg|n}</span>
  % endif

</section>
